.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size:cover;
}
canvas{
    height: 500px;
    width:500px;
    border:black, 20px;
    box-shadow: black;
    box-shadow: 20px;
}